@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  /* background-image: url("./assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat; */
}

.font-bellefair {
  font-family: "Bellefair", serif;
}

.font-barlow {
  font-family: "Barlow Condensed", sans-serif;
}

.active > .crew-link {
  cursor: default;
  background-color: white;
  pointer-events: none;
  text-decoration: none;
  user-select: none;
}
